{% extends 'login/template.html' %}
{% block content %}
<form action="" method="post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">Descrição</label>
                            <textarea name="descricao" class="form-control" style="min-height: 100px !important;"></textarea>
                        </div> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">Digite a resposta correta</label>
                            <textarea name="alternativa" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">Digite uma respota incorreta</label>
                            <textarea name="alternativa" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">Digite uma respota incorreta</label>
                            <textarea name="alternativa" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">Digite uma respota incorreta</label>
                            <textarea name="alternativa" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-dark">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock content %}