{% extends 'login/template.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 box-container">
            <form action="">
                {%for pergunta in perguntas %}
                <div class="row">
                    <div class="col-md-12">
                        <h3>{{pergunta.descricao}}</h3>
                        <div class="form-group">
                            <input type="checkbox"name="resposta" >
                            <label for="">Clique para sim </label>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </form>
        </div>
    </div>
</div>
{% endblock %}