{% extends 'login/template.html' %}
{% block loginform %}
<div class="container">
    <div class="row">
        <div class="col-md-12 box-container">
            <form action="">
                <div class="form-group">
                    
                    <input type="text" class="form-control" name="username">
                    <input type="text" class="form-control" name="password">
                    <button class="btn btn-dark " type="submit">login</button>
                    <a href="registro.html">
                        <button type ="button" class="btn btn-warning" >registrar</button>
                    </a>
                </div>
                
            </form>
        </div>
    </div>
</div>
{% endblock loginform %}