{% extends 'login/template.html' %}
{% block loginform %}
<div class="container">
    <div class="row">
        <div class="col-md-12 box-container">
            <form action="">
                <div class="form-group">
                    <label>username</label>
                    <input type="text" class="form-control" name="username">
                    <label>password</label>
                    <input type="text" class="form-control" name="password">
                    <label>cpf</label>
                    <input type="text" class="form-control" name="nome">
                    <label>setor</label>
                    <input type="text" class="form-control" name="last_nome">
                    <a href="/">
                    <button type ="button" class="btn btn-warning" >comfirmar </button>
                    </a> 
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock loginform %}