{% extends 'template.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            
            <form action="../validar_resposta/" method="POST">
                {% csrf_token %}
                {%for pergunta in perguntas %}
                <div class="row">
                    <div class="col-md-12">
                        <h3>{{pergunta.descricao}}</h3>
                        <div class="form-group">
                            <input type="hidden" name="pergunta"  value="{{pergunta.id}}">
                            <input type="checkbox"name="resposta" value="{{pergunta.id}}">
                            <label for="">Clique para sim </label>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-dark">submit</button>
            </form>

        </div>
    </div>
</div>
{% endblock %}