{% extends 'template.html' %}
{% block loginform %}
<div class="container">
    <div class="row">
        <div class="col-md-12 box-container">
            <form action="submit" method="POST"> {% csrf_token %} 
                <div class="form-group">
                    <label>user</label>
                    <input type="text" class="form-control" name="username" autofocus>
                    <label>password</label>
                    <input type="password" class="form-control" name="password">
                    <button class="btn btn-dark " type="submit">login</button>
                    <a href="registro">
                        <button type ="button" class="btn btn-warning" >registrar</button>
                    </a>
                </div>
                
            </form>
            {% for message in messages %}
            <div class="alert alert-danger">
                <strong>ERROR!</strong> {{ message }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock loginform %}