{% extends 'template.html' %}
{% block content %}
<div class="container" style="margin-top: 10vh;">
	<div class="row">
		<div class="col-md-12 box-container">
			<form action="">
				<div class="form-group">

					<div class="row">
						<div class="col-md-6">
							<div class="card">
						
								<div class="card-header">
									Perguntas
								</div>
								<div class="card-body">
									<table data-toggle="table" class="table table-bordered">
										<thead>
											<tr>
												<th>Pergunta</th>
												<th>Resposta</th>
											</tr>
										</thead>
										<tbody>
											{% for item in perguntas %}
											<tr>
												<td>
													{{item.descricao}}
												</td>
												<td>
													{{item.resposta}}
												</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
{%block js%}
<script>
	window.onload = ()=>{$(".table").bootstrapTable()}
</script>{%endblock js%}